@import "./partials/colorsVariables";
@import "./partials/fonts";
@import "./partials/reset";

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  background-color: $grayishBlue;
  main {
    .container {
      .card {
        background-color: $lightGrayishBlue;
        margin: 72px 24px;
        border-radius: 15px;
        @import "./partials/card/cardHead";
        @import "./partials/card/cardBody";
        @import "./partials/card/cardFooter";
      }
    }
  }
  @import "./partials/footer";
}
