.card-footer {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 37px;
  padding-bottom: 21px;
  display: flex;
  img {
    width: 40px;
    border-radius: 50%;
  }
  .info {
    margin-left: 10px;
    margin-right: 60px;
  }
  .share {
    background-color: $grayishBlue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    .img {
      width: 20px;
    }
  }
}
